body{
	margin:0px;
	padding:0px;
	font-family: 'Poppins', sans-serif;
}

.wrapper{
	width: 100%;
	min-height: 500px;
	background-color: #ffffff;
	overflow-x: hidden;
}

.padding-top{
	padding-top: 100px;
}

.padding-bottom{
	padding-bottom: 100px;
}

/*============================================*/

/*===================Header====================*/

header{
    width: 100%;
    height: 150px;
    display: block;
    border-bottom: 2px solid #000000;
}

header .top{
    width: 100%;
    height: 40px;
    background-color: #da02aa;
}

header .top .left-part{
    width: 100%;
    height: 40px;
}

header .top .left-part p{
    font-size: 16px;
    margin-top: 7px;
    margin-left: 10px;
    float: left;
}

header .top .left-part p a{
	color: #ffffff;
	text-decoration: none;
}

header .top .social{
    width: 100%;
    height: 40px;
}

header .top .social .fa-youtube-play{
    font-size: 18px;
    margin-top: 12px;
    color: #ffffff;
    margin-right: 0px;
    float: right;

    transition: 0.5s all linear;
}

header .top .social .fa-instagram{
    font-size: 18px;
    margin-top: 12px;
    color: #ffffff;
    margin-right: 20px;
    float: right;

    transition: 0.5s all linear;
}

header .top .social .fa-facebook-f{
    font-size: 18px;
    margin-top: 12px;
    color: #ffffff;
    margin-right: 20px;
    float: right;

    transition: 0.5s all linear;
}

header .top .social .fa-whatsapp{
    font-size: 18px;
    margin-top: 12px;
    color: #ffffff;
    margin-right: 20px;
    float: right;

    transition: 0.5s all linear;
}

header .menu{
    width: 100%;
    height: 111px;
    padding: 20px;
}

header .menu img{
    width: 20%;
    float: left;
    margin-top: -10px;
}

header .menu .rachna{
	float: right;
	width: 19%;
	margin-top: -22px;
}

header .menu h5{
	margin-left: 300px;
	margin-top: 11px;
	text-align: center;
}

/*=============================================*/

/*==================Featured===================*/

.featured{
	width: 100%;
	height: auto;
}

.featured h2{
	color: #ff00c6;
	font-weight: 500;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	margin-bottom: -15px;
}

.featured p{
	text-align: center;
	margin-top: 15px;
}

.featured .main{
	height: auto;
	margin-top: 50px;
}

.featured .product{
	height: 280px;
	margin-top: 30px;
}

.featured .product .pro-1, .featured .product .pro-3, .featured .product .pro-5, .featured .product .pro-7, .featured .product .pro-9, .featured .product .pro-11, .featured .product .pro-13, .featured .product .pro-15, .featured .product .pro-17{
	width: 60px;
	height: 420px;
	float: left;
	padding: 0px 5px 0px 0px;
}

.featured .product .pro-1 ul, .featured .product .pro-3 ul, .featured .product .pro-5 ul, .featured .product .pro-7 ul, .featured .product .pro-9 ul, .featured .product .pro-11 ul, .featured .product .pro-13 ul, .featured .product .pro-15 ul, .featured .product .pro-17 ul{
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

.featured .product .pro-1 ul li, .featured .product .pro-3 ul li, .featured .product .pro-5 ul li, .featured .product .pro-7 ul li, .featured .product .pro-9 ul li, .featured .product .pro-11 ul li, .featured .product .pro-13 ul li, .featured .product .pro-15 ul li, .featured .product .pro-17 ul li{
	width: 60px;
    height: 60px;
    border: 2px solid #dfdfdf;
    border-radius: 15px;
    margin-bottom: 10px;
    display: grid;
    place-items:center;
}

.featured .product .pro-1 ul li img, .featured .product .pro-3 ul li img, .featured .product .pro-5 ul li img, .featured .product .pro-7 ul li img, .featured .product .pro-9 ul li img, .featured .product .pro-11 ul li img, .featured .product .pro-13 ul li img, .featured .product .pro-15 ul li img, .featured .product .pro-17 ul li img{
	width: 78%;
	border-radius: 15px;
	cursor: pointer;
}

.featured .product .pro-2, .featured .product .pro-4, .featured .product .pro-6, .featured .product .pro-8, .featured .product .pro-10, .featured .product .pro-12, .featured .product .pro-14, .featured .product .pro-16, .featured .product .pro-18{
	width: 280px;
    height: 280px;
	float: left;
	border: 2px solid #dfdfdf;
	border-radius: 15px;
	margin-left: 10px;
}

.featured .product .pro-2 img, .featured .product .pro-4 img, .featured .product .pro-6 img, .featured .product .pro-8 img, .featured .product .pro-10 img, .featured .product .pro-12 img, .featured .product .pro-14 img, .featured .product .pro-16 img, .featured .product .pro-18 img{
	width: 100%;
	border-radius: 15px;
}

.featured .name{
	width: 100%;
	height: 124px;
	margin-top: 10px;
	text-align: center;
}

.featured .name h5{
	font-size: 18px;
	font-weight: 600;
}

.featured .name h6{
	font-size: 14px;
	font-weight: 600;
}

.featured .name h6 span{
    color: #ff00c6;
    font-size: 22px;
    margin-right: 5px;
}

.featured .name h6 span.span{
	text-decoration: none;
	color: #ffffff;
	padding: 0px 5px;
	background-color: green;
	margin-left: 5px;
}

.featured .navbar-btn{
	padding: 10px;
	background-color: #ff4a7d;
	color: #ffffff;
}

.featured .navbar-btn .fa{
	margin-right: 5px;
}

.featured .navbar-btn.buy{
	background-color: #457f00;
}

.featured .navbar-btn.view{
	padding: 10px 20px;
	background-color: #ffffff;
	border: 2px solid #192af7;
	color: #192af7;
	margin-top: 6px;

	transition: 0.5s all;
}

.featured .navbar-btn.view:hover{
	background-color: #192af7;
	color: #ffffff;
}

/*=============================================*/

/*==============Product Pages=================*/

.face .product, .bodyoil .product, .daycream .product, .nightcream .product, .saffron_aloevera .product, .cucumber_aloevera .product, .ubtan .product, .gulab .product{
	height: 280px;
	margin-top: 30px;
}

.face .product .pro-1, .bodyoil .product .pro-1, .daycream .product .pro-1, .nightcream .product .pro-1, .saffron_aloevera .product .pro-1, .cucumber_aloevera .product .pro-1, .ubtan .product .pro-1, .gulab .product .pro-1{
	width: 60px;
	height: 420px;
	float: left;
	padding: 0px 5px 0px 0px;
}

.face .product .pro-1 ul, .bodyoil .product .pro-1 ul, .daycream .product .pro-1 ul, .nightcream .product .pro-1 ul, .saffron_aloevera .product .pro-1 ul, .cucumber_aloevera .product .pro-1 ul, .ubtan .product .pro-1 ul, .gulab .product .pro-1 ul{
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

.face .product .pro-1 ul li, .bodyoil .product .pro-1 ul li, .daycream .product .pro-1 ul li, .nightcream .product .pro-1 ul li, .saffron_aloevera .product .pro-1 ul li, .cucumber_aloevera .product .pro-1 ul li, .ubtan .product .pro-1 ul li, .gulab .product .pro-1 ul li{
	width: 60px;
    height: 60px;
    border: 2px solid #dfdfdf;
    border-radius: 15px;
    margin-bottom: 10px;
    display: grid;
    place-items:center;
}

.face .product .pro-1 ul li img, .bodyoil .product .pro-1 ul li img, .daycream .product .pro-1 ul li img, .nightcream .product .pro-1 ul li img, .saffron_aloevera .product .pro-1 ul li img, .cucumber_aloevera .product .pro-1 ul li img, .ubtan .product .pro-1 ul li img, .gulab .product .pro-1 ul li img{
	width: 78%;
	border-radius: 15px;
	cursor: pointer;
}

.face .product .pro-2, .bodyoil .product .pro-2, .daycream .product .pro-2, .nightcream .product .pro-2, .saffron_aloevera .product .pro-2, .cucumber_aloevera .product .pro-2, .ubtan .product .pro-2, .gulab .product .pro-2{
	width: 280px;
    height: 280px;
	float: left;
	border: 2px solid #dfdfdf;
	border-radius: 15px;
	margin-left: 10px;
}

.face .product .pro-2 img, .bodyoil .product .pro-2 img, .daycream .product .pro-2 img, .nightcream .product .pro-2 img, .saffron_aloevera .product .pro-2 img, .cucumber_aloevera .product .pro-2 img, .ubtan .product .pro-2 img, .gulab .product .pro-2 img{
	width: 100%;
	border-radius: 15px;
}

.face h2, .bodyoil h2, .bodyoil h2, .ubtan h2, .gulab h2{
	margin-top: 27px;
	font-weight: 600;
}

.daycream h2, .nightcream h2, .saffron_aloevera h2, .cucumber_aloevera h2{
	margin-top: 27px;
	font-weight: 600;
	font-size: 24px;
}

.face .line, .bodyoil .line, .daycream .line, .nightcream .line, .saffron_aloevera .line, .cucumber_aloevera .line, .ubtan .line, .gulab .line{
	width: 100%;
	height: 2px;
	background-color: #dddddd;
	margin-bottom: 5px;
}

.face h5, .bodyoil h5, .daycream h5, .nightcream h5, .saffron_aloevera h5, .cucumber_aloevera h5, .ubtan h5, .gulab h5{
	color: #457f00;
	font-weight: 600;
}

.face h6 span, .bodyoil h6 span, .daycream h6 span, .nightcream h6 span, .saffron_aloevera h6 span, .cucumber_aloevera h6 span, .ubtan h6 span, .gulab h6 span{
	color: #ff00c6;
	font-size: 22px;
	font-weight: 600;
}

.face select, .bodyoil select, .daycream select, .nightcream select, .saffron_aloevera select, .cucumber_aloevera select, .ubtan select, .gulab select{
	cursor: pointer;
}

.face .navbar-btn, .bodyoil .navbar-btn, .daycream .navbar-btn, .nightcream .navbar-btn, .saffron_aloevera .navbar-btn, .cucumber_aloevera .navbar-btn, .ubtan .navbar-btn, .gulab .navbar-btn{
	padding: 10px;
	background-color: #ff4a7d;
	color: #ffffff;
}

.face .navbar-btn .fa, .bodyoil .navbar-btn .fa, .daycream .navbar-btn .fa, .nightcream .navbar-btn .fa, .saffron_aloevera .navbar-btn .fa, .cucumber_aloevera .navbar-btn .fa, .ubtan .navbar-btn .fa, .gulab .navbar-btn .fa{
	margin-right: 5px;
}

.face .navbar-btn.buy, .bodyoil .navbar-btn.buy, .daycream .navbar-btn.buy, .nightcream .navbar-btn.buy, .saffron_aloevera .navbar-btn.buy, .cucumber_aloevera .navbar-btn.buy, .ubtan .navbar-btn.buy, .gulab .navbar-btn.buy{
	background-color: #457f00;
}

.face iframe, .bodyoil iframe, .daycream iframe, .nightcream iframe, .saffron_aloevera iframe, .cucumber_aloevera iframe, .ubtan iframe, .gulab iframe{
	width: 100%;
	height: 611px;
}

.faq-container{
  width: 100%;
  margin-top: -120px;
}

.faq{
  background-color: transparent;
  border: solid 1px #9fa4a8;
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  transition: .4s ease;
}

.faq.active{
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .1);
}

.faq.active::before, .faq.active::after{
    content: "\f075";
    font-family: 'Font Awesome 5 Free';
    color: #2ecc71;
    position: absolute;
    font-size: 7rem;
    opacity: .2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before{
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title{
  margin: 0 35px 0 0;
}

.faq-text{
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text{
  display: block;
}

.faq-toggle{
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle .fa-times{
  display: none;
}

.faq.active .faq-toggle .fa-times{
  display: block;
  color: #fff;
}

.faq.active .faq-toggle .fa-plus{
  display: none;
}

.faq.active .faq-toggle {
    background: #999;
}

/*=============================================*/

/*=================Media Query=================*/

@media(max-width:1200px){
	header .menu img{
		width: 24%;
	}
	header .menu h5{
		margin-left: 210px;
	}
	header .menu .rachna{
		width: 22%;
		margin-top: -18px;
	}
	.featured .product{
	    height: 220px;
	}
	.featured .product .pro-1 ul li, .featured .product .pro-3 ul li, .featured .product .pro-5 ul li, .featured .product .pro-7 ul li, .featured .product .pro-9 ul li, .featured .product .pro-11 ul li, .featured .product .pro-13 ul li, .featured .product .pro-15 ul li, .featured .product .pro-17 ul li{
		width: 47px;
		height: 47px;
	}
	/*.featured .product .pro-1 ul li:last-child, .featured .product .pro-3 ul li:last-child, .featured .product .pro-5 ul li:last-child, .featured .product .pro-7 ul li:last-child, .featured .product .pro-9 ul li:last-child, .featured .product .pro-11 ul li:last-child, .featured .product .pro-13 ul li:last-child, .featured .product .pro-15 ul li:last-child, .featured .product .pro-17 ul li:last-child{
		display: none;
	}*/
	.name h5 span{
		display: none;
	}
	.featured .product .pro-2, .featured .product .pro-4, .featured .product .pro-6, .featured .product .pro-8, .featured .product .pro-10, .featured .product .pro-12, .featured .product .pro-14, .featured .product .pro-16, .featured .product .pro-18{
		width: 220px;
	    height: 220px;
	}
	.face h2, .bodyoil h2, .daycream h2, .nightcream h2, .saffron_aloevera h2, .cucumber_aloevera h2, .ubtan h2, .gulab h2{
		font-size: 24px;
	}
	.face .product .pro-2, .bodyoil .product .pro-2, .daycream .product .pro-2, .nightcream .product .pro-2, .saffron_aloevera .product .pro-2, .cucumber_aloevera .product .pro-2, .ubtan .product .pro-2, .gulab .product .pro-2{
		width: 300px;
		overflow: hidden;
	}
	.face iframe, .bodyoil iframe, .daycream iframe, .nightcream iframe, .saffron_aloevera iframe, .cucumber_aloevera iframe, .ubtan iframe, .gulab iframe{
		height: 523px;
	}
}

@media(max-width:991px){
	header .top .left-part p{
		font-size: 13px;
		margin-top: 10px;
	}
	header .menu img {
	    width: 33%;
	}
	header .menu .rachna{
		width: 30%;
	}
	header .menu h5{
	    margin-left: 68px;
	}
	.featured .name{
		margin-left: -36px;
	}
	.face .product .pro-2, .bodyoil .product .pro-2, .daycream .product .pro-2, .nightcream .product .pro-2, .saffron_aloevera .product .pro-2, .cucumber_aloevera .product .pro-2, .ubtan .product .pro-2, .gulab .product .pro-2{
		width: 320px;
	}
	.face h2, .bodyoil h2, .ubtan h2, .gulab h2{
		font-size: 22px;
	}
	.daycream h2, .nightcream h2, .saffron_aloevera h2, .cucumber_aloevera h2{
		font-size: 16px;
	}
	.face h5, .bodyoil h5, .daycream h5, .nightcream h5, .saffron_aloevera h5, .cucumber_aloevera h5, .ubtan h5, .gulab h5{
		font-size: 11px;
	}
	.face iframe, .bodyoil iframe, .daycream iframe, .nightcream iframe, .saffron_aloevera iframe, .cucumber_aloevera iframe, .ubtan iframe, .gulab iframe{
		height: 388px;
	}
}

@media(max-width:767px){
	header .menu .rachna{
		width: 43%;
		margin-top: -23px;
	}
	header .menu img{
	    width: 45%;
	}
	header .menu h5{
	    margin-left: -40px;
	}
	.featured .product .pro-1, .featured .product .pro-3, .featured .product .pro-5, .featured .product .pro-7, .featured .product .pro-9, .featured .product .pro-11, .featured .product .pro-13, .featured .product .pro-15, .featured .product .pro-17{
		height: 328px;
	}
	.featured .product .pro-1 ul li, .featured .product .pro-3 ul li, .featured .product .pro-5 ul li, .featured .product .pro-7 ul li, .featured .product .pro-9 ul li, .featured .product .pro-11 ul li, .featured .product .pro-13 ul li, .featured .product .pro-15 ul li, .featured .product .pro-17 ul li{
		width: 39px;
		height: 39px;
	}
	.featured .product .pro-2, .featured .product .pro-4, .featured .product .pro-6, .featured .product .pro-8, .featured .product .pro-10, .featured .product .pro-12, .featured .product .pro-14, .featured .product .pro-16, .featured .product .pro-18{
		width: 186px;
	    height: 186px;
	    margin-left: -6px;
	}
	.featured .name{
		margin-top: -25px;
		margin-left: -10px;
	}
	.featured .name h5{
		font-size: 13px;
	}
	.featured .name h6{
		font-size: 10px;
	}
	.featured .name h6 span{
		font-size: 17px;
	}
	.featured .navbar-btn{
		font-size: 10px;
	}
	.face .product .pro-2, .bodyoil .product .pro-2, .daycream .product .pro-2, .nightcream .product .pro-2, .saffron_aloevera .product .pro-2, .cucumber_aloevera .product .pro-2, .ubtan .product .pro-2, .gulab .product .pro-2{
	    width: 440px;
	    height: 440px;
	}
	.face h2, .bodyoil h2, .daycream h2, .nightcream h2, .saffron_aloevera h2, .cucumber_aloevera h2, .ubtan h2, .gulab h2{
	    font-size: 23px;
	}
	.face h5, .bodyoil h5, .daycream h5, .nightcream h5, .saffron_aloevera h5, .cucumber_aloevera h5, .ubtan h5, .gulab h5{
	    font-size: 18px;
	}
	.faq-container{
		margin-top: 0px;
	}
	.faq-container h3{
		font-size: 22px;
	}
	.face iframe, .bodyoil iframe, .daycream iframe, .nightcream iframe, .saffron_aloevera iframe, .cucumber_aloevera iframe, .ubtan iframe, .gulab iframe{
		height: 384px;
	}
}

@media(max-width:575px){
	header{
		display: none;
	}
	.featured .main{
		height: 215px;
	}
	.featured .name{
		margin-top: -197px;
	}
	.face iframe, .bodyoil iframe, .daycream iframe, .nightcream iframe, .saffron_aloevera iframe, .cucumber_aloevera iframe, .ubtan iframe, .gulab iframe{
		height: 217px;
	}
	.face .product .pro-1 ul li, .bodyoil .product .pro-1 ul li, .daycream .product .pro-1 ul li, .nightcream .product .pro-1 ul li, .saffron_aloevera .product .pro-1 ul li, .cucumber_aloevera .product .pro-1 ul li, .ubtan .product .pro-1 ul li, .gulab .product .pro-1 ul li{
	    width: 47px;
	    height: 47px
	}
	.face .product .pro-2, .bodyoil .product .pro-2, .daycream .product .pro-2, .nightcream .product .pro-2, .saffron_aloevera .product .pro-2, .cucumber_aloevera .product .pro-2, .ubtan .product .pro-2, .gulab .product .pro-2{
		width: 220px;
		height: 220px;
	}
	.face h2, .bodyoil h2, .daycream h2, .nightcream h2, .saffron_aloevera h2, .cucumber_aloevera h2, .ubtan h2, .gulab h2{
		margin-top: -180px;
	}
}

@media(max-width:470px){
	.featured .name{
		margin-left: 13px;
	}
}

@media(max-width:448px){
	.featured .main{
		height: 362px;
	}
	.featured .name{
		width: 60%;
		margin-top: -20px;
	}
}